

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Lista</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/animes']" [routerLinkActive]="['active']">Animes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/series']" [routerLinkActive]="['active']">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/lista-espera']" [routerLinkActive]="['active']">Lista de espera</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/lista-finalizado']" [routerLinkActive]="['active']">Lista
                    finalizados</a>
            </li>


        </ul>

        <ul class="navbar-nav ml-auto">
          
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Iniciar Sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/agregar-anime']" routerLinkActive="active">Agregar anime</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active">Cerrar sesion</a>
                </li>
          
        </ul>
    </div>
</nav>