<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Nuevo Anime</h1>
      <br>
      <form #frmNewAnime="ngForm" (ngSubmit)="onNewAnime(frmNewAnime)">
        <div class="form-group">

          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" placeholder="Ingrese el nombre del anime" ngModel
              required>
          </div>
          <label for="creadoPor">Creado por</label>
          <input type="text" class="form-control" name="creadoPor" placeholder="Ingrese el creador" ngModel required>
        </div>

        <div class="form-group">
          <label for="elenco">Elenco</label>
          <input type="text" class="form-control" placeholder="Ingresa el elenco" name="elenco" ngModel required>
        </div>

        <div class="form-group">
          <label for="desarrolladora">Desarrolladora</label>
          <input type="text" class="form-control" placeholder="Ingrese casa desarrolladora" name="desarrolladora"
            ngModel required>
        </div>

        <!-- <div class="form-group">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">
            <input type="checkbox" [formControlName]="i">
            {{ordersData[i].name}}
          </div>
        
          <div *ngIf="!form.valid">Al menos uno debe de estar marcado</div>
          <br>
          <button class="btn btn-outline-warning" [disabled]="!form.valid">submit</button>
        </form>
      </div>

        <div class="form-group">
        <form [formGroup]="clasificacionForm">
          <select class="form-control" formControlName="clasificacionControl">
            <option [ngValue]="clasificacion" *ngFor="let clasificacion of clasificaciones">{{clasificacion.name}}</option>
          </select>
        </form>
      </div> -->
      
      <button type="submit" class="btn btn-primary">Registrarse</button>
      </form>
    
    </div>
  </div>
</div>