<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <app-barra-menu></app-barra-menu>>
<div>
    <form action="">
    <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02">Elige Archivo</label>
              </div>
              <div class="input-group-append">
                <span class="input-group-text" id="">Subir Archivo</span>
              </div>
            </div>
          </div>

<div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Nombre</label>
        <input class="form-control form-control-lg" type="text" placeholder="Nombre de la Serie o Anime" id="inputLarge">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Subtitulo</label>
        <input class="form-control form-control-lg" type="text" placeholder="Nombre de la Serie o Anime" id="inputLarge">
        
      </div>
      <input class="btn btn-primary btn-lg" type="submit" value="Agregar">
    </form>
    </div>
</body>
</html>
