<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <app-barra-menu></app-barra-menu>
    <div class="container">
        <form action="/action_page.php">
          <div class="row">
            <h2 style="text-align:center">Iniciar Sesion</h2>
            <div class="vl">
              <span class="vl-innertext">o</span>
            </div>
      
            <div class="col">
              <a href="#" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Iniciar con Facebook
              </a>
              <a href="#" class="twitter btn">
                <i class="fa fa-twitter fa-fw"></i> Iniciar con Twitter
              </a>
            </div>
      
            <div class="col">
              <div class="hide-md-lg">
                <p>Iniciar manualmente:</p>
              </div>
      
              <input type="text" name="username" placeholder="Username" required>
              <input type="password" name="password" placeholder="Password" required>
              <input type="submit" value="Login">
            </div>
      
          </div>
        </form>
      </div>
      
      <div class="bottom-container">
        <div class="row">
          <div class="col">
            <a href="#" style="color:white" class="btn">Registrarte</a>
          </div>
          <div class="col">
            <a href="#" style="color:white" class="btn">¿Olvidaste la contraseña?</a>
          </div>
        </div>
      </div>
</body>
</html>