<!--
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <p>Prueba de registro de usuario. Favor de eliminar</p>
        <div class="container">
            <div>
                <form action="/agregar" method="POST">
                    <input type="text" name="nombre " placeholder="Nombre" class="form-control"><br>
                    <input type="text" name="alias " placeholder="Alias" class="form-control"><br>
                    <input type="text" name="correo " placeholder="Correo" class="form-control"><br>
                    <input type="text" name="password " placeholder="Contraseña" class="form-control"><br>
                    <input type="text" name="re-password " placeholder="Repetir Contraseña" class="form-control"><br>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </body>
</html>
-->
    <p>Home!</p>
    


